.container-cadastro-item {
    display: flex;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    min-height: 80vh;
    padding: 30px;
}

.loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vh;

}

.img img {
    display: block;
    margin: 0px;
    padding: 0px;
}

.loading p {
    font-size: 20px;
}

#form-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
    width: 90%;
    background-color: rgb(248, 253, 255);
    border: none;
    height: auto;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.css-b62m3t-container {
    width: 270px;
}
.titulo-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.titulo-item h2 {
    color: #006954;
    font-size: 20px;
    margin: 0px;
}

.titulo-item p {
    color: #009e7e;
    font-size: 13px;
    font-weight: 500;
    margin: 5px;
    text-align: center;
}

.input-box-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 5px;
}

.input-box-item label {
    font-size: 15px;
    margin-bottom: 5px;
}

.button-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-box-item input::placeholder {
    font-weight: normal;
    font-size: 15px;
}

.button-item button {
    font-size: 15px;
    font-weight: 600;
}

.input-box-item input {
    width: 250px !important;
    padding: 12px;
    border: 1px solid #009e7e;
    border-radius: 5px;
    margin-bottom: 3px;
    transition: 0.3s ease;
}

.input-box-item #categoria::placeholder {
    padding-left: 5px;
}


.input-box-item input:hover {
    background-color: #e0fff9;
}

.input-box-categoria {
    display: flex;
    flex-direction: row;
}