.search-container {
  display: flex;
  align-items: center;
  justify-content: center;

}
.container-home{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .search-container input {
    width: 90%;
  }
}
.search-container input {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid rgb(0, 109, 85);
  font-size: 16px;
  width: 30%;
  transition: all 0.3s ease;
  outline: none;
}

.search-container input:focus {
  border-color: rgb(38, 148, 106);
  box-shadow: 0 0 8px rgba(38, 148, 106, 0.3);
}

.search-container input::placeholder {
  font-weight: normal;
}

.search-container input:hover {
  box-shadow: 0 0 8px rgba(38, 148, 106, 0.3);
}

.gallery-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 50px;
  max-width: 250px;
  width: 100%;
  height: auto;
  margin-right: 40px;
  padding: 50px;
  transition: 0.1s;
  border: 1px solid #ebebeb;
  background-color: rgb(240, 255, 250);
  box-shadow: 0px 4px 10px rgba(0, 77, 29, 0.2);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer;
  border-radius: 9px;
}

.gallery-item:hover {
  transform: scale(1.02);
  box-shadow: 0px 6px 15px rgba(0, 77, 29, 0.3);
}

.gallery-img {
  display: flex;
  width: 80px;
  height: 80px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.gallery-img img {
  width: 100%;
  height: auto;
  border-radius: 100%;

}

#li-gallery {

  display: inline-block;
  border-radius: 5px;
  padding: 3px;
  font-weight: 800;
  border-radius: 5px;
  border: none;
  background-color: #e9fff1;
  margin: 5px;
  transition: 0.3s ease;
}

#li-gallery:hover {

  background-color: rgb(186, 255, 228);

}

.button button {
  padding: 12px 20px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: rgb(10, 163, 104);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}
.button button:hover {
  background-color: rgb(38, 148, 106);
  transform: scale(1.02);
}

.titulo-atv h3 {
  color: rgb(0, 88, 55);
  font-size: 13px;

}