.lista-cadastro-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  width: 400px;
}


.lista-cadastro-item li {
  background-color: rgb(14, 141, 109);
}
.lista-cadastro-item {
  background-color: rgb(248, 253, 255);
  padding: 20px;
  border: none;
  box-shadow: 0px 4px 10px rgba(122, 122, 122, 0.2);
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: bold;
}
.texto {
    display: flex;
    align-items: center;
    justify-content: center;   
}
.p {
  display: flex;
  justify-content: center;
  align-items: center;
}

.p p {
  text-align: center;
  display: block;
}
.button-lista {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  width: 90px;
}
.lista-cadastro-item li:hover {
  box-shadow: 0px 4px 10px rgba(0, 126, 88, 0.2);
}