.button {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    margin-top: 5px;
}

button:hover {
    background-color: rgb(14, 148, 123);
    color: rgb(255, 255, 255);
}

.container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(25, 74, 106, 1) 0%, rgba(18, 153, 129, 1) 100%);
    height: 100vh;
}

.esqueceu-senha {
    display: flex;
    flex-direction: column;
}

.titulo-login h2 {
    margin: 5px;
    background-color: rgba(18, 153, 129, 1);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: black;
    font-size: 30px;
}


#form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(244, 255, 254);
    box-shadow: 0px 4px 10px rgba(32, 32, 32, 0.2);
    border: none;
    padding: 30px 20px;
    padding-bottom: 5px;
    height: 350px;
    max-height: 500px;
    font-family: Helvetica, Arial, sans-serif;
    width: 400px;
    border-radius: 10px;
    margin-top: 5px;
    /* Adiciona o espaço entre o header e o formulário */
}

#form-login:hover {
    box-shadow: 0px 4px 10px rgba(58, 90, 83, 0.2);
}

.box-login {
    display: flex;
    flex-direction: column;
    margin: 8px;
}

.box-login label {
    font-size: 15px;
    font-weight: 600;
}

.titulo-logon h3 {
    font-size: 25px;
    font-weight: 600;
}
.box-group {
    display: flex;
    flex-direction: column;
    
}
.box-login input {
    padding: 15px;
    width: 300px;
    margin: 0px;
    border: 1px solid #cacaca;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    transition: all 0.3s ease-in-out;

}
 .box-login {
  margin-bottom: 15px;
}

.button {
  margin-top: 20px;
}

.titulo-logon h2 {
  margin-bottom: 15px;
  font-weight: 600;
  color: rgb(0, 158, 126);
}

.box-login input:focus {
    border-color: 1px solid#009e7e;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 158, 126, 0.4);
  transition: box-shadow 0.3s ease-in-out;
}

.box-login input::placeholder {
    font-size: 16px;
    font-weight: normal;
   line-height: 1.4;
}

.box-login input:hover {
    border: 1px solid #009e7e;

}