#cnpj-crud {
    cursor: no-drop;
}

.upload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}
.titulo {
    display: flex;
    justify-content: center;

    align-items: center;
}
#file {
    display: none;
}

.box-login input:focus {
    border-color: 1px solid#009e7e;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 158, 126, 0.4);
    transition: box-shadow 0.3s ease-in-out;
}

.input-group {
    gap: 2px;
}

.input-box input:hover {
    background-color: #e0fff9;
    border-color: 1px solid #034e35;
}
.button button {
    width: 200px;
  
}
.button {
    display: flex;
    flex-direction: column;
    justify-content: center !important;
    align-items: center !important;
}

.input-box input::placeholder {
    color: #92c4ba;
    line-height: 1.4;
    font-size: 16px;
    font-weight: normal;
}

#form {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border: 1px solid #ebebeb;
    box-shadow: 1px 4px 10px rgba(36, 37, 37, 0.2);
    padding: auto;
    padding-bottom: 5px;
    height: 795px;
    width: 400px;
    max-width: 500px;
    margin: 10px;
    border-radius: 15px;
    margin-top: 5px;
    /* Adiciona o espaço entre o header e o formulário */
}

#foto {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid #4cd1b7;
    background-color: #5be9cd;
    color: white;
    text-align: center;
    cursor: pointer;
    font-weight: bold;

}