.perfil-container {
  display: flex;
  width: 100%;
  box-shadow: 0px 4px 10px rgba(122, 122, 122, 0.2);
  justify-content: center;
  padding: 40px 20px;
  background-color: #f7f7f7;
  min-height: 100vh;
}


.perfil-card {
  display: flex;
  flex-direction: row;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
  max-width: 900px;
  width: 100%;
}

.perfil-imagem {
  flex: 2;
  background: linear-gradient(0deg, rgba(25, 74, 106, 1) 0%, rgba(18, 153, 129, 1) 100%);
  display: flex;
  align-items: center;
}

.perfil-imagem img {
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: cover;
}

.perfil-info {
  flex: 5;
  padding: 30px;
  font-family: 'Open Sans', sans-serif;
}

.tabela-container th {
  color: white;
  background-color: #00745c;
  padding: 8px;
}

.perfil-info h2 {
  margin-bottom: 20px;
  color: #222222;
  font-size: 24px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.tabela-container {
  background-color: #fff;
  border-radius: 5px;
  border-collapse: collapse;
  border-spacing: 2px;
  width: 100%;
  table-layout: fixed;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  margin-top: 15px;
}

.tabela-container table {
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  border-spacing: 2px;
}

.perfil-info td {
  font-weight: bold;
  white-space: nowrap;
  width: 100%;
  padding: 7px 10px;
  background-color: white;
  border: none;
  font-size: 16px;
  color: hsl(0, 0%, 25%);
}

.perfil-info td:first-child {
  font-weight: bold;
  width: 120px;
  color: #585858;
}

.perfil-info a {
  color: #007bff;
  text-decoration: none;
}

.perfil-info a:hover {
  text-decoration: underline;
}


@media (max-width: 768px) {
  .perfil-card {
    flex-direction: column;
  }

  .perfil-imagem {
    max-height: 250px;
  }

}