.cadastro-representante-ong {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgb(240, 255, 250);
    border: 1px solid #ebebeb;
    box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.2);
    height: 400px;
    padding: 30px;
    border-radius: 10px;
    font-family: 'Segoe UI', sans-serif;
}

.container-box-representante {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    height: 100vh;
    background: linear-gradient(0deg, rgba(25, 74, 106, 1) 0%, rgba(18, 153, 129, 1) 100%);

}

.container-box-representante h3,
p {
    text-align: start;
    color: white;
    margin: 5px;
    letter-spacing: normal;
}

.titulo-cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 18px;
}

.titulo-cadastro h3 {
    font-size: 25px;
    margin: 0px;
}

.titulo-cadastro p {
    margin: 0px;
}

.loading {
    text-align: center;
    color: black;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: auto !important;
    height: auto;
    width: 400px;
    margin: 50px auto;
}

a {
    text-decoration: none;
    color: white;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: auto;
}

.input-box input {
    width: 300px;
    padding: 12px;
    border-radius: 6px;
}

.input-box label {
    display: block;
    margin-bottom: 6px;
    font-size: 15px;
    font-weight: 600 !important;
    color: #001d14;
}

.button button {
    background-color: #034e35;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    width: 100%;
    font-weight: 600;
    margin: 0px;
}