@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Header */
* {
  font-family: 'Open Sans', sans-serif;
  margin: 0px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px 15px;
  border-radius: 0px 0px 10px 10px;
  height: 90px;
  width: 100%;
  background-color: rgb(255, 255, 255);
  color: white;
}

.tabela-doacoes table {
  border-radius: 10px;
  border: none;
  border-spacing: 2px;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  margin-top: 15px;
}

.paragrafo-item p {
  color: #045848;
  font-weight: 800;
  text-align: start;
}

.tabela-doacoes {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  width: 100%;
  overflow: hidden;
  border: none;
  border-collapse: separate;
  border-radius: 5px;
  border-spacing: 0px;
}

.tabela-doacoes td {
  border-radius: 5px;
  padding: 10px;
}

.tabela-doacoes th {
  padding: 10px;
  color: white;
  font-weight: normal;
  white-space: nowrap;
  background-color: #2da890;
}


.link-register {
  margin-top: 5px;
}

.container-cadastro-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 30px;
}


.titulo-cadastro {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  color: #006d55;
  margin-bottom: 30px;
  padding: 5px;
}

.titulo-cadastro h3 {
  display: flex;
  font-size: 35px;
  background-image: linear-gradient(to bottom, rgba(25, 74, 106, 1), rgba(18, 153, 129, 1), turquoise);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: black;
}

.link-register a {
  font-size: 13px;
  color: #006d55;
  font-weight: normal;
  text-decoration: none;
}

.link-register a:hover {
  color: #009476;
  text-decoration: underline;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
}

input {
  display: block;
  outline: none;
  cursor: default;
  width: 100%;
  padding: 10px;
  border: 1px solid #4cd1b7;
  border-radius: 5px;
}

.input-box input:hover {
  background-color: #e0fff9;
}


.input-box input {
  display: block;
  outline: none;
  padding: 12px;
  width: 100%;
  margin-top: 3px;
  margin-bottom: 0px;
  transition: 0.5s;
  width: 350px;
  border-radius: 5px;
  background-color: #ffffff;
}


.input-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
  gap: 13px;
  margin-bottom: 0px;
}

.form-ong {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(240, 255, 250);
  border: 1px solid #ebebeb;
  box-shadow: 1px 4px 10px rgba(0, 77, 29, 0.2);
  padding: 90px;
  height: auto;
  border-radius: 10px;
  margin-top: 3px;
  /* Adiciona o espaço entre o header e o formulário */
}

.container-box {
  display: flex;
  align-items: center;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
  justify-content: center;
  flex-direction: column;
  background: #194A6A;
  background: linear-gradient(0deg, rgba(25, 74, 106, 1) 0%, rgba(18, 153, 129, 1) 100%);
  padding: 90px;
  height: 760px;
}

.container-box h2,
p {
  color: #ffffff;
  margin-bottom: 10px;
  font-weight: 900;
}

/* .lista-item h4 {
  color: white;
  margin: 0px;
  padding: 8px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  font-weight: 700;
  text-align: center;
  background-color: #0087db;
} */


/* .lista-item span {
  border-radius: 50%;
  width: 25px;
  font-size: 10px;
  height: 25px;
  color: white;
  line-height: 20px;
  padding: 3px;
} */


.lista-item ul {
  background-color: #ffffff;
}


.lista-item ul li {
  margin-bottom: 0px;
  list-style: none;
}

.lista-item li {
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 15px;
  box-shadow: 0px 4px 10px rgba(122, 122, 122, 0.2);
}

.perfil-container {
  display: flex;
  width: 100%;
  box-shadow: 0px 4px 10px rgba(122, 122, 122, 0.2);
  justify-content: center;
  padding: 40px 20px;
  background-color: #ffffff;
  min-height: 100vh;
}


.perfil-card {
  display: flex;
  flex-direction: row;
  background: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  overflow: hidden;
  max-width: 900px;
  width: 100%;
}

.perfil-imagem {
  flex: 1;
  background-color: #e7e7e7;
  display: flex;
  justify-content: center;
  align-items: center;
}

.perfil-imagem img {
  width: 100%;
  max-width: 300px;
  height: auto;
  object-fit: cover;
}

.perfil-info {
  flex: 2;
  padding: 30px;
}

.tabela-container th {
  color: white;
  background-color: #00745c;
  padding: 8px;
}

.perfil-info h2 {
  margin-bottom: 20px;
  color: #222222;
  font-size: 24px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.tabela-container {
  background-color: #fff;
  border-radius: 8px;
  border-collapse: collapse;
  border-spacing: 2px;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  margin-top: 15px;
}

.tabela-container table {
  width: 100%;
  overflow: hidden;
  border: 2px solid #009dff;
  border-radius: 10px;
  border-spacing: 2px;
}

.perfil-info td {
  font-weight: bold;
  padding: 5px 10px;

  background-color: white;
  border: 2px solid rgb(228, 228, 228);
  font-size: 16px;
  color: hsl(0, 0%, 25%);
}

.perfil-info td:first-child {
  font-weight: bold;
  width: 120px;
  color: #585858;
}

.perfil-info a {
  color: #007bff;
  text-decoration: none;
}

.perfil-info a:hover {
  text-decoration: underline;
}


@media (max-width: 768px) {
  .perfil-card {
    flex-direction: column;
  }

  .perfil-imagem {
    max-height: 250px;
  }

}

.error {
  display: block;
  position: relative;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 11px;
  font-weight: bold;
  color: #f54040;
  max-width: 250px;
}


.metas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(238, 238, 238);
  color: #139e82;
  font-weight: bold;
}

.quemsomos {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #004169;
  text-align: justify;
  color: white;
  height: 300px;
}


strong {

  align-self: flex-start;

  font-size: 12px;

}

h3 {
  color: #005991;
  margin: 0;
  padding: 0;
  align-self: center;
}

/* Menu de navegação */
nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.link-nav {
  list-style: none;
  margin: 0px 3px 0px 5px;
}

.crud-ong {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  margin-top: 0px;
  padding: 300px;
  /* background-color:  #ffffff;
  border: 2px solid #b6b6b6; */
  /* border-radius: 5px;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 56, 139, 0.19); */
}

.abas {
  text-decoration: none;
  margin: 15px;
  font-size: 15px;
  color: rgb(0, 127, 131);
  padding: 20px;
  font-weight: bold;
  background-color: transparent;
  transition: 0.1s;
}


.abas:hover {
  color: #009476;
}



p {
  text-decoration-line: underline blue;
  margin-bottom: 5px;
  width: 100%;
  text-align: start;
  font-weight: bold;
  font-size: 13px;
  color: #cfcfcf;
}

#p {
  margin-bottom: 5px;
}

.p-formong {
  color: #000000;
  margin-bottom: 30px;
}

.titulo-ong {
  text-align: center;
  color: #000000;
  font-weight: bold;
}

/* Logo ou imagem */
#logo-ongnet {
  width: 60px;
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;

  width: 100%;
  margin-top: 10px;
  padding: 40px;
  padding-top: 45px;
  font-weight: bolder;
  color: #ffffff;
  text-align: center;
  background-color: #003172;
}


.box-content {
  display: flex;

  border-radius: 20px;
  height: 300px;
  margin-top: 5px;
  margin: auto;
  width: 65%;
  padding: 60px;
  background-color: #cad6e6;
}

/* Estilo do conteúdo principal */
.main-content {
  display: block;
  margin-top: 10px;
  font-size: 28px;
  font-weight: bold;
  color: #00205a;
}

.main-content span {
  font-size: 23px;
  align-self: center;
  margin-bottom: 5px;
}

.box-login {
  margin-top: 20px;
}

.span-login strong {
  font-size: 23px;

}

span {
  align-self: flex-start;

  color: #006baf;

  font-weight: bolder;

  margin-bottom: 10px;

}

h4,
h3 {
  margin: 0;
  padding: 0;
  color: #079b7d;
  font-weight: bold;
  text-align: center;
}

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
  /* Adiciona o espaço entre o header e o formulário */
}


form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(240, 255, 250);
  border: 1px solid #ebebeb;
  box-shadow: 1px 4px 10px rgba(0, 77, 29, 0.2);
  padding: 60px;
  padding-bottom: 5px;
  height: 400px;
  width: 500px;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 5px;
  /* Adiciona o espaço entre o header e o formulário */
}



.form-faleconosco {
  background-color: #e7e7e7;
  /* padding: 40px;
  border-radius: 10px;
  max-width: 800px;
  margin: 40px auto;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  border: 1px solid #004aad;*/

}

.quem-somos-p p {
  text-align: center;
  color: #000f94;
  /* font-size: 18px;
  line-height: 1.8;
  padding: 20px;
  background-color: #f5f8ff;
  border-left: 5px solid #004aad;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  margin: 20px;
  max-width: 800px;*/
}


label {
  font-weight: bold;
  color: #024437;
  display: block;
  font-size: 13px;
  margin-bottom: 3px;
}


input::placeholder {
  color: #92c4ba;
  font-weight: bold;
  padding-left: 7px;
}

/* Ajustar o tamanho do campo de descrição (textarea) */
textarea {
  height: 70px;
  /* Aumenta a altura do campo de descrição */
  width: 420px;
  resize: vertical;
  outline: none;
  /* Permite redimensionar verticalmente */
  border-radius: 5px;
  border: 1px solid #4cd1b7;
}

/* Ajustar o tamanho do campo de preço */

textarea::placeholder {
  color: #92c4ba;
  font-weight: normal;
  padding-left: 7px;
  font-size: 15px;
  padding-left: 15px;

}

.form-group button {
  width: 100%;
  padding: 10px;
  background-color: #006baf;
  /* Botão vermelho */
  color: white;
  border: 2px solid #004e7e;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.form-group button:hover {
  background-color: #009dff;
  border-color: #0086da;
  color: white;
}

/* button:hover {
  background-color: #ac47ff; /* Vermelho tomate */


.register-link {
  text-align: center;
  margin-top: 20px;

}

.footer a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

.register-link a:hover {
  text-decoration: underline;
}

.app-container {

  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  border-radius: 10px;
  margin-top: 100px;
}

/* Estilo para o container de cadastro */
.cadastro-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

/* Estilo para o container de consulta */
.consulta-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-grow: 2;
  /* Aumenta o tamanho da div de consulta */
}

span {
  color: #006baf;
  font-weight: bolder;
  margin-bottom: 0px;
}

#button-cadastro-ong {
  padding: 8px;
  width: 250px;
}

button {
  background-color: rgb(0, 97, 60);
  padding: 10px;
  color: white;
  cursor: pointer;
  margin-top: 15px;
  font-weight: 900;
  width: 250px;
  transition: 1s;
  border-radius: 10px;
  border: none;
}

.p-footer {
  color: white;
  font-size: 10px;

  font-weight: bold;

}

button:hover {
  color: #ffffff;
  background-color: rgb(20, 177, 148);
  text-decoration: none;
}

hr {
  margin: 40px 0;
  border: 1px solid #002fff;
}

ul {
  padding: 10px;
  color: #00253d;
  font-weight: bolder;
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 1px;
  padding: 0;
  padding-left: 5px;
}

li {

  margin-left: 5px;

  margin-right: 5px;

  text-decoration: none;
}


/* 
ul {
list-style-type: none;
padding: 0;
}

ul li {
background-color: #fff;
padding: 10px;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
margin-bottom: 10px;
display: flex;
justify-content: space-between;
align-items: center;
} */