/* Header */
*
 {
  
  font-family: sans-serif;
 }

header {
  font-family: Helvetica, Arial ,sans-serif;  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;
  height: 120px;
  background-color: #003172;
  color: white;
}

/* Menu de navegação */
nav {
  display: flex;
  align-items: center;
}
.container {
  padding: 90px;
  background-color:  #ffffff;
  border: 2px solid #b6b6b6;
  border-radius: 10px;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 56, 139, 0.19);
}
.abas {
  margin-bottom: 2px solid white;
  text-decoration: none;
  font-size: 20px;
  color: white;
  padding: 20px;
  font-weight: bold;
  transition: 0.1s;
}
.campo-search {
  display: inline-block;

}
.abas:hover {
  color: #1278ff;
}

.container {
  padding: 100px;
  height: 500px;
}
.gallery-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.gallery-item {
  display: flex;
  margin: 15px;
  cursor: pointer;
  border-radius: 10px;
  flex-direction: column;
  height: 200px;
  padding: 70px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 64, 138, 0.16) 0px 10px 0px 0px, rgb(0, 60, 129) 0px 0px 0px 0px;
  border: 1px solid rgb(0, 100, 194);

}

p {
  text-decoration-line:underline blue;
  margin-bottom: 5px;
  text-align: end;
  font-weight: bold;
  font-size: 15px;
  color: #cfcfcf;
  font-family: Helvetica, Arial ,sans-serif;  
}
#p {
  margin-bottom: 5px;
}
.p-formong {
  color: #000000;
  margin-bottom: 30px;
}


.titulo-ong {
  text-align: center;
  color: #000000;
  font-family: Helvetica, Arial ,sans-serif;  
  font-weight: bold;
}
/* Logo ou imagem */
#logo-ongnet{
  width: 30px;
}
footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: Helvetica, Arial ,sans-serif;  
  width: 100%;
  margin-top: 10px;
  padding: 40px;
  padding-top: 45px;
  font-weight: bolder;
  color: #ffffff;
  text-align: center; 
  background-color:  #003172;
}


.box-content {
  display: flex;
  font-family: Helvetica, Arial ,sans-serif;;
  border-radius: 20px;
  height: 300px;
  margin-top: 5px;
  margin: auto;
  width: 65%;
  padding: 60px;
  background-color:  #cad6e6;
}

/* Estilo do conteúdo principal */
.main-content {
  display: block;
  margin-top: 10px;
  font-size: 28px;
  font-weight: bold;
  color: #1b005a; 
}

span {
  color: rgb(0, 56, 141);
  display: block;
  text-align: center;
}
h4 {
  font-weight: bold;
  text-align: center;
}



.app-container {
  display: flex;
  flex-direction: row;
  width: 80%;
  padding: 100px;
  padding-bottom: 5px;
  font-family: Helvetica, Arial ,sans-serif;
  max-width: 400px;
  border-radius: 10px;
  margin-top: 5px; /* Adiciona o espaço entre o header e o formulário */
}
 .form-ong {
  flex-direction: column;
  background-color: rgb(243, 243, 243);
  padding: 50px;
  padding-bottom: 5px;
  font-family: Helvetica, Arial ,sans-serif;
  max-width: 700px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 5px; /* Adiciona o espaço entre o header e o formulário */
  border: 2px solid #b6b6b6;
}

form {
  flex-direction: column;
  background-color: rgb(243, 243, 243);
  padding: 100px;
  padding-bottom: 5px;
  font-family: Helvetica, Arial ,sans-serif;
  max-width: 700px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 5px; /* Adiciona o espaço entre o header e o formulário */
  border: 2px solid #b6b6b6;
}

.form-faleconosco {
  background-color: #e7e7e7;
  padding: 300px;
  border-radius: 10px;
  
}
 .quemsomos-p p {
  text-align: justify;
  color: #000f94;

}

/* .form-group {
  margin-bottom: 20px;
} */


.formgroup1 {
  display: inline-block;
}
label {
  font-weight: bold;
  color: #000000; /* Verde da bandeira */
  display: block;
  margin-bottom: 5px;
}

input[type="tel"],
input[type="email"],
input[type="password"],
textarea{
  width: 100%;
  margin-bottom: 5px;
  padding: 9px;
  border: 2px solid #004aad; /* Borda verde */
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

input[type="text"] {
  display: inline-block;
  flex-direction: row;
  width: 100%;
  margin-bottom: 5px;
  padding: 9px;
  border: 2px solid #004aad; /* Borda verde */
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

textarea::placeholder,
input[type="text"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder {
  font-family: Helvetica, Arial ,sans-serif;  
  color: #aaaaaa;
}

/* Ajustar o tamanho do campo de descrição (textarea) */
textarea {
height: 70px; /* Aumenta a altura do campo de descrição */
width: 390px;
resize: vertical; /* Permite redimensionar verticalmente */
border-radius: 5px;
border: 2px solid #004aad;
}

/* Ajustar o tamanho do campo de preço */
input[type="number"] {
width: 100%; /* Ajusta para o mesmo tamanho dos outros campos */
height: 50px; 
}

#cep {
  width: 100%;
}

input::placeholder {
color: #aaaaaa;
}
.form-group button {
  width: 100%;
  padding: 10px;
  background-color: #004aad; /* Botão vermelho */
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

/* button:hover {
  background-color: #ac47ff; /* Vermelho tomate */


.register-link {
  text-align: center;
  margin-top: 20px;

}

.footer a {
  color: #ffffff; 
  text-decoration: none;
  font-weight: bold;
}

.register-link a:hover {
  text-decoration: underline;
}

.app-container {
padding: 20px;
max-width: 600px;
margin: 0 auto;
border-radius: 10px;
margin-top: 40px;
}

/* Estilo para o container de cadastro */
.cadastro-container {
background-color: #fff;
padding: 20px;
border-radius: 10px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
margin-bottom: 20px;
}

/* Estilo para o container de consulta */
.consulta-container {
background-color: #fff;
padding: 30px;
border-radius: 10px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
flex-grow: 2; /* Aumenta o tamanho da div de consulta */
}

#search {
  display: block;
  padding: 10px;
  width: 50%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 2px solid #888888;
  border-radius: 5px;
}
#search:hover {
  border: 2px solid #00367c;
}

#p {
  margin-bottom: 20px;
}
button {
width: 100%;
padding: 10px;
background-color: #ffffff;
color: #002fff;
border: none;
letter-spacing: 0.3px;
border-radius: 15px;
font-size: 14px;
cursor: pointer;
font-weight: bold;
transition: 0.5s;
}

.p-footer {
  color: white;
  font-size: 10px;
  font-family: Helvetica, Arial ,sans-serif;
  font-weight: bold;

}
button:hover {
background-color: #002fff;
color: #ffffff;

}

hr {
margin: 40px 0;
border: 1px solid #002fff;
}

ul {
list-style-type: none;
padding: 0;
}

ul li {
background-color: #fff;
padding: 10px;
border-radius: 5px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
margin-bottom: 10px;
display: flex;
justify-content: space-between;
align-items: center;
}
